# Naive Bayes Classifier-Spam Prediction

In [67]:
import pandas as pd
data=pd.read_csv('spam.csv',encoding='latin-1')
data.head(5)

   type                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [68]:
from collections import Counter
Counter(data.type)

Counter({'ham': 4825, 'spam': 747})

In [70]:
X=data.email
y=data.type
X.head(5)

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: email, dtype: object

In [71]:
#TextFrequencyInverseDocumentFrequencyVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer   
vectorizer=TfidfVectorizer()
X=vectorizer.fit_transform(X)
feature_names=vectorizer.get_feature_names()
len(feature_names)

8672

In [72]:
import numpy as np
X=X.toarray()

In [73]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=10)

In [74]:
from sklearn.naive_bayes import BernoulliNB,GaussianNB,MultinomialNB
model=BernoulliNB(alpha=0.75)
model.fit(X_train,y_train)
y_predict=model.predict(X_test)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9856459330143541

col_0   ham  spam
type
ham    1446     0
spam     24   202

# Checking New Email

In [79]:
mail1=pd.Series(["       "])
tmail=vectorizer.transform(mail1)
tmail.shape

(1, 8672)

In [80]:
model.predict(tmail)

array(['ham'], dtype='<U4')

# Text Vectorization

In [87]:
from sklearn.feature_extraction.text import CountVectorizer
msgs=['call u tonight','call me a cab','please call me...please']
vect=CountVectorizer()
vect.fit(msgs)
vect.get_feature_names()

['cab', 'call', 'me', 'please', 'tonight']

In [89]:
msgs_tran=vect.transform(msgs)                #tranform messages
print(msgs_tran)

  (0, 1)	1
  (0, 4)	1
  (1, 0)	1
  (1, 1)	1
  (1, 2)	1
  (2, 1)	1
  (2, 2)	1
  (2, 3)	2

In [86]:
data1=pd.DataFrame(msgs_tran.toarray())          # Into dataframe
data1.columns=vect.get_feature_names()
data1.head()

['call u tonight', 'call me a cab', 'please call me...please']

   cab  call  me  please  tonight
0    0     1   0       0        1
1    1     1   1       0        0
2    0     1   1       2        0

In [90]:
data1.loc[0,'outcome']='info'
data1.loc[1,'outcome']='Order'
data1.loc[2,'outcome']='Request'
data1.head()

   cab  call  me  please  tonight  outcome
0    0     1   0       0        1     info
1    1     1   1       0        0    Order
2    0     1   1       2        0  Request